<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
<link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
<link rel="icon" href="{{ '/Images/favicon.png' | url }}" type="image/x-icon">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
